body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
h1{
    text-align: center;
}
div#tablero{
    background: #191c1d;
    border: #333 10px solid;
    width: 800px;
    height: 540px;
    padding: 24px;
    margin: 2em auto;
}
div#tablero>div{
    background-color: #eee;
    background-image: url(./img/background.jpg);
    background-size: cover;
    border: #000 1px solid;
    width: 71px;
    height: 71px;
    float: left;
    margin: 10px;
    padding: 20px;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.github{
    font-size: .9em;
    text-align: center;
}